.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;



    >span {
        font-size: 32px;
        margin-left: 14px;
    }

    background-color: rgb(50, 50, 50, 0.6);
    >img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        border: solid 1px;
        background-color: lightblue;
    }
}

.player-active{
    background-color: orange !important;
}